body, html{
  height:100%;
}
body{
  margin: 0px;
  
  background-color:#ffffff;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
  z-index: 1;
}
.title{
  background-color: #777;
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}


.addColorButton {
  padding:5px;
  float: right;
}

.addMovingDancer {
  padding:5px;
  float: right;
  display:inline;
}

.alignLeft {
  float: left;
  padding: 5px;
}

.moveDance {
  border: 0px solid black !important;
  border-radius: 100px; 
  height: 250px; 
  width: 360px;
  background-image: url(./tyler.gif);
}

.addNyan {
  padding:5px 12px;
  float:right;

}

.nyan {
  height: 200px; 
  width: 100px;
  max-width:50%;
  border: 0px solid black !important;
  background-image: url(./nyan.gif);
  background-repeat: no-repeat;
  background-size:contain;
}

.calculate {
  float: left;
  padding: 5px;
}


div.a {
  width: 80px;
  height:80px;

  position:fixed;
  background-image: url(./nyan.gif);
  background-repeat: no-repeat;
  background-size:contain;
}

div.b {
  width: 80px;
  height:80px;

  position:fixed;
  right: 0;
  background-image: url(./nyan.gif);
  background-repeat: no-repeat;
  background-size:contain;
}

div.c {
  width: 80px;
  height:80px;
  background-image: url(./tuna.png);
  background-size:contain;
  position:absolute;
  bottom: 20px;
  right: 50px;

}
