body, html{
  height:100%;
}
body{
  margin: 0px;
  
  background-color:#ffffff;
  font-size: 18px;
  background-image: url(./back.jpg);
  background-size:cover;

}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
  z-index: 1;
}
.title{
  background-color: #777;
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}


.addColorButton {
  padding:5px;
  float: right;
}

.addMovingDancer {
  padding:5px;
  float: right;
  display:inline;
}

.alignLeft {
  float: left;
  padding: 5px;
}

.moveDance {
  border: 0px solid black !important;
  border-radius: 100px; 
  height: 250px; 
  width: 360px;
  background-image: url(./tyler.gif);
}

.addNyan {
  padding:5px 12px;
  float:right;

}

.nyan {
  height: 200px; 
  width: 100px;
  max-width:50%;
  border: 0px solid black !important;
  background-image: url(./nyan.gif);
  background-repeat: no-repeat;
  background-size:contain;
}

.calculate {
  float: left;
  padding: 5px;
}


div.a {
  width: 80px;
  height:80px;

  position:fixed;
  background-image: url(./nyan.gif);
  background-repeat: no-repeat;
  background-size:contain;
}

div.b {
  width: 80px;
  height:80px;

  position:fixed;
  right: 0;
  background-image: url(./nyan.gif);
  background-repeat: no-repeat;
  background-size:contain;
}

div.c1 {
  width: 150px;
  height:150px;
  background-image: url(./tuna.png);
  background-size:contain;
  position:absolute;
  bottom: 25%;
  right: 25%;
}

div.c2 {
  width: 150px;
  height:150px;
  background-image: url(./tuna.png);
  background-size:contain;
  position:absolute;
  bottom: 25%;
  left: 25%;
}

div.c3 {
  width: 150px;
  height:150px;
  background-image: url(./tuna.png);
  background-size:contain;
  position:absolute;
  top: 25%;
  right: 25%;
}

div.c4 {
  width: 150px;
  height:150px;
  background-image: url(./tuna.png);
  background-size:contain;
  position:absolute;
  top: 25%;
  left: 25%;
}
div.c5 {
  width: 150px;
  height:150px;
  background-image: url(./tuna.png);
  background-size:contain;
  position:absolute;
  left: 42%;
  top: 42%;
}

.movable {
  width: 80px;
  height:80px;
  position:fixed;
  background-image: url(./nyan2.gif);
  transform: scaleX(-1);
  background-repeat: no-repeat;
  background-size:contain;
  top: 0%;
  right: 0%;
}

.count {
  font-size: 7em;
  height: 140px;
  width: 100px;
  color: white;
  position: absolute;
  bottom: 0%;
  right: 0%;
  
}

.count2 {
  font-size: 7em;
  height: 140px;
  width: 100px;
  color: white;
  position: absolute;
  bottom: 0%;
  left: 35px;
  
}

.explain {
  height: 90px;
  width: 340px;
  text-align: center;
  position:fixed;
  bottom: 0%;
  left: 35%;
  color: white;
}
